* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #D9DAD3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    text-align: center;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
}

h1 {
    position: relative;
    top: 3vh;
    font-family: "din-condensed", sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    position: relative;
    top: 8vh;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4vw;
    font-weight: 300;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8vw;
    color: #3F3F3F;
    text-align: center;
}

.section {
    min-width: 100vw;
    min-height: 100vh;
}

#section1 {
    position: relative;
    top: -1vh;
}

#background-img {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 101vh;
    top: -1vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    filter: grayscale(0.2);
}

#screenshot {
    position: relative;
    width: 27vw;
    top: 6vh;
    left: 36vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.arrow {
    position: relative;
    width: 2.5vw;
    transition: all 0.4s;
}

.slide-down {
    
}

#down {
    top: 32vh;
    left: 21.1vw;
    
}

#down:hover {
    top: 32.5vh;
}

#up {
    top: 3vh;
    left: 48.3vw;
}

#up:hover {
    top: 2.5vh;
}

.longer-text {
    position: relative;
    max-width: 41vw;
    top: 27vh;
    left: 29.5vw;
}

.download {
    position: relative;
}

#app-store {
    top: 38.7vh;
    left: 39vw;
}

#google-play {
    width: 10.7vw;
    top: 40vh;
    left: 41vw;
}
